.top-bar-left img {
  float: left;
  margin-right: 2rem;

}

.top-bar-left h1 {
  position: relative;
  line-height: 1.6;
  padding-top: 0.5rem;
}

.top-bar-left a {
  text-decoration: none;
}


@media (max-width: 97rem) {
.osoctitle {
  font-size: 1.5rem;
  margin-top: 0.3rem;
}
}
@media (max-width: 90rem) {
.osoctitle {
  font-size: 1.2rem;
  margin-top: 0.6rem;
}

@media (max-width: 72rem) {

.osoctitle {
font-size: 0.9rem;
margin-top: 0.85rem;

}
}

@media (max-width: 65rem) {
  .grid-x .small-6 {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    position: relative;
    float: none;
  }
  }

.c-partners img {
  max-height: 6rem;
}




