.flex-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.crest {
    margin-top: 1rem;
    max-height: 12rem;
    display: block;
}

.team-header {
    border-bottom: none;
}

.team-section {
    border-bottom: 1px solid $lighter-gray;
}

.partner-section {
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    
    .project-partner {
        margin-top: 1.5em;
        width: 20% !important;
        
        img {
            max-height: 8em;
        }
    }
}

@media only screen and (max-width: 768px) {
    .partner-section .project-partner {
        width: 55% !important;
        
        &:not(:last-child) {
            margin-bottom: 3em;
        }
    }
}