.flex-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.crest {
    position: relative;
    left: -0.5rem;
    margin: 0 1rem 1rem 0;
    max-height: 9rem;
    display: block;
}

.team-header {
    border-bottom: none;
}

.team-section {
    border-bottom: 1px solid $lighter-gray;
}

.partner-section {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;



    img {
        height: 5em;
    }
}
